<mat-card class="main-card" appearance="outlined">
  <mat-card-content>

    <button mat-fab extended color="primary" class="action-button" (click)="activeActions()">
      <mat-icon>&#xe5d4;</mat-icon>
      Action
    </button>

    <mat-grid-list [cols]="getCols()" rowHeight="2:1" gutterSize="16px">
      @for (card of businessCards; track $index) {
      <mat-grid-tile>


        <div [ngClass]="{'blur': IsAction}">
          <span *ngIf="IsAction" [ngClass]="{'action': IsAction}">
            <span class="delete-icon icon-pointer" (click)="deleteCard(card.id)"><mat-icon>&#xe872;</mat-icon></span>
            <span class="export-xml icon-pointer" (click)="exportXml(card.id)"><span>XML</span></span>
            <span class="export-csv icon-pointer"><span>CSV</span></span>
          </span>

          <div class="container">
            <div class="card">
              <div class="front">
                <div class="logo">
                  <img *ngIf="card.photo; else noImageTemplate" loading="lazy" [src]="card.photo" alt="Logo" />
                  <ng-template #noImageTemplate>
                    <img loading="lazy" src="assets/images/noimage.png" alt="No Image Available" />
                  </ng-template>
                </div>
              </div>
              <div class="back">
                <h1>{{card.name}}</h1>
                <ul>
                  <li class="truncate" [matTooltip]="card.phone" matTooltipPosition="above">{{card.phone}}</li>
                  <li class="truncate" [matTooltip]="card.email" matTooltipPosition="above">{{card.email}}</li>
                  <li class="truncate" [matTooltip]="card.address" matTooltipPosition="above">{{card.address}}</li>
                </ul>
              </div>
            </div>
          </div>
          
        </div>

      </mat-grid-tile>
      }
    </mat-grid-list>


  </mat-card-content>
</mat-card>