<mat-form-field appearance="fill">
    <mat-label>{{ placeholder }}</mat-label>
    <input 
    type="text" 
    matInput 
    [formControl]="formControl" 
    [matAutocomplete]="auto" 
    (blur)="onTouched()"
    (input)="onChange(formControl.value)">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (onSelectionChange)="handleSingleOptionSelection($event);">
            {{ option }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>