.main-card {
    margin: 20px;
    min-height: 88vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.example-full-width {
    min-width: 300px !important;
}



