<mat-card class="main-card" appearance="outlined">
    <mat-card-content>

        <mat-accordion>
            <mat-expansion-panel [expanded]="panelOpenState()" (opened)="panelOpenState.set(true)"
                (closed)="panelOpenState.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title> Import XML | CSV </mat-panel-title>
                </mat-expansion-panel-header>

                <import-file (filesSelected)="onFilesSelected($event)"></import-file>

            </mat-expansion-panel>

        </mat-accordion>

        <divider-with-text text="OR"></divider-with-text>

        <form [formGroup]="businessCardForm" class="example-form" (ngSubmit)="onSubmit()">
            <div class="form-container">

                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="Name">
                    @if (businessCardForm.get('Name')?.hasError('required')) {
                    <mat-error>Name is <strong>required</strong></mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="DateOfBirth" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>

                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="Email" placeholder="Ex. pat@example.com">
                    @if (businessCardForm.get('Email')?.hasError('Email') &&
                    !businessCardForm.get('Email')?.hasError('required')) {
                    <mat-error>Please enter a valid email address</mat-error>
                    }
                    @if (businessCardForm.get('Email')?.hasError('required')) {
                    <mat-error>Email is <strong>required</strong></mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Telephone</mat-label>
                    <span matTextPrefix>+962 &nbsp;</span>
                    <input type="tel" matInput formControlName="Phone" placeholder="555-555-1234">
                    <mat-icon matSuffix>&#xe3c9;</mat-icon>
                    @if (businessCardForm.get('Phone')?.hasError('required')) {
                    <mat-error>Phone is <strong>required</strong></mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="Gender">
                        <mat-option *ngFor="let g of genders; let i = index" [value]="i">{{ g }}</mat-option>
                    </mat-select>

                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Address</mat-label>
                    <textarea maxlength="250" matInput formControlName="Address"
                        placeholder="Enter your address"></textarea>
                </mat-form-field>



                <div>
                    <mat-label>Photo</mat-label>
                    <input type="file" (change)="onPhotoChange($event)" accept="image/*" />
                </div>


                <button mat-raised-button color="primary" [disabled]="businessCardForm.invalid">Submit</button>

            </div>

        </form>


    </mat-card-content>
</mat-card>