<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>&#xe5d2;</mat-icon></button>
    <h1 class="example-app-name">Business Cardes</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="'over'" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item class="center-icon" matTooltip="Create Business Card" matTooltipPosition="above" routerLink="." *ngIf="!mobileQuery.matches">
          Create Business Card
        </a>
        <a mat-list-item class="center-icon" routerLink="." *ngIf="mobileQuery.matches">
          <mat-icon>&#xe145;</mat-icon> 
        </a>

        <mat-divider></mat-divider>

        <a mat-list-item class="center-icon" matTooltip="View All Business Cards" matTooltipPosition="above"  routerLink="view-all" *ngIf="!mobileQuery.matches">
          View All Business Cards
        </a>
        <a mat-list-item class="center-icon" routerLink="view-all" *ngIf="mobileQuery.matches">
          <mat-icon>&#xe896;</mat-icon>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
